body {
    background-color: #DFD3C3;
}

hr {
    /* background-color: #5E454B; */
    border-style: none;
    border-top-style: dotted;
    border-color: GREY;
    border-width: 5px;
    width: 10%;
}

h1, h3 {
    color: #632626;
}